form{
    border: 1px solid;
    width: 65%;
    margin: auto;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 25px 0px 40px 0px;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

h3{
    text-align: center;
    font-size: 30px;
}

#ing{
    
    margin-bottom: 2%;
    margin-right: 5%;

}


#medi{
    margin-right: 20%;
}

#group{
    border: 2px solid;
   height: 30px;
   width: 35.8%;
   margin-right: 6px;
   background: none;
   border-color: red;
   border-radius: 5px;

}


#seat_no{
    border-color: red;
    margin-left: 67px;
    margin-bottom: 5px;
    width: 35%;
    outline: none;
    padding: 5px;
    background: none;
    border-radius: 5px;
}

#name{
    border-color: red;
    margin-left: 83px;
    margin-bottom: 5px;
    width: 35%;
    outline: none;
    padding: 5px;
    background: none;
    border-radius: 5px;
}

#father_name{
    border-color: red;
    margin-bottom: 5px;
    margin-left: 13px;
    width: 35%;
    outline: none;
    padding: 5px;
    background: none;
    border-radius: 5px;
}

#surname{
    border-color: red;
    margin-bottom: 5px;
    margin-left: 56px;
    width: 35%;
    outline: none;
    padding: 5px;
    background: none;
    border-radius: 5px;
}

#institute{
    border-color: red;
    margin-bottom: 5px;
    margin-left: 50.5px;
    width: 35%;
    outline: none;
    padding: 5px;
    background: none;
    border-radius: 5px;
}

#district{
    border-color: red;
    margin-bottom: 5px;
    margin-left: 59.5px;
    width: 35%;
    outline: none;
    padding: 5px;
    background: none;
    border-radius: 5px;
}

#container{
    display: flex;
    height: 60px;
    margin-left: 6.6%;
    
    

    

}



#main_sb_box{
    border: 2px solid;
    border-color: red;
    text-align: center;
    width: 20%;
    justify-content: center;
    display: flex;
    align-items: center;
    background: none;
    border-radius: 5px;
    /* position: relative; */

    
}

/* .full_subject{
    border: 2px solid;
    border-color: red;
    width: 19%;
    height: 38.4px;
    border-radius: 5px;
    display: inline-block;
    position: absolute;
    top: 20px;
    flex-direction: row;
    bottom: 9.1px;
    
} */

.full_subject{
    width: 18.4%;
    height: 33px;
    outline: none;
    margin-left: 1px;
    background: none;
    border-color: red;
    border-radius: 5px;

}

#max_mark{
    border: 2px solid;
    border-color: red;
    text-align: center;
    width: 12%;
    margin-left: 1%;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

#fistY_thmark{
    border: 2px solid;
    border-color: red;
    text-align: center;
    width: 12%;
    margin-left: 2.3%;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

#firstY_prmark{
    border: 2px solid;
    border-color: red;
    text-align: center;
    width: 12%;
    margin-left: 2.3%;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

#inter_th{
    border: 2px solid;
    border-color: red;
    text-align: center;
    width: 12%;
    margin-left: 2.2%;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

#inter_pr{
    border: 2px solid;
    border-color: red;
    text-align: center;
    width: 12%;
    margin-left: 2.2%;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}



.marks{
    height: 35px;
    width: 11%;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
    border-color: red;
    outline: none;
    background: none;
    margin-right: 1%;
    margin-left: 0.5%;
}








label{
    font-size: 14px;
    font-weight: bold;
}